

body {
    direction: rtl;
    width: 100%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#logo {
    display:block;
}

#container {
    width: 1280px;
    margin: 0 auto;
}
.main-pic {
    display: flex;
    flex-direction: inherit;
}

.backgroud-main > h1 {
    font-size: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
}

#backgroundFooter {
    background-color: #F4CA8E;
    margin: 15px;
    border-radius: 40px;

}

.followUsUp {
    float: left;
    align-items: center;
    color: snow;
    margin:10px;
     
}
    .followUsUp p {
        text-indent: 15px;
        font-size: 18px;
        font-weight: bold;
    }
.backgroud-main {
    background-image: url('../images/דף ראשי.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.backgroud-header {
    background-image: url('../images/baking2.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

/*nav li a {
    display: inline-block;
    float: right;
    color: #FDFFF3;
}*/

.nav-link {
    display: inline-block;
    float: right;
    background-color: #2B2C30;
    color: #FDFFF3;
    width: 120px;
    height: 30px;
    padding: 10px;
    text-align: center;
    border-radius: 20px;

}
.no-bullet-item {
    list-style-type: none; /* הסרת הבולטים */
    padding: 0;
    margin-top: 10px;
}

.backgroud-main#pankHeader {
    align-items: flex-start;
}

.top-nav-item {
    display: inline-block;
    position: relative;
}

.top-nav-ul {
    position: absolute;
    right:26%;
}

.top-nav-item-dropdown {
    display: none;
    position: absolute;
    top: 50px;
    left: 0px;
}
.top-nav-item:hover .top-nav-item-dropdown {
    display: block;
    position: absolute;
    top: 40px;
    
}

.top-nav-item-dropdown li a:hover {
    background-color: burlywood;
}

.center-text {
    align-items: center;
}

.center-gallery {
    position: relative;
    right: 35%;
}

.center-elements {
    display: flex;
    justify-content: center; /* Horizontally center */
    flex-direction: column;
    align-items: center;
    
}

#backgroundFooter > .no-bullet-item {
    margin: 10px;
}

#backgroundFooter ul li a {
/*    padding: 2px;
*/    text-decoration:none;
    color: whitesmoke;
}
nav ol li {
    display: inline-block;
}

    nav ol li::after {
        content: " >";
    }

    nav ol li:last-child::after {
        content: "";
    }
.main-picture {
    border-radius: 106px;
    margin: 0px 38px;
    width: 472px;
    height: 365px;
}
.follow {
    width: 150px;
    height: 70px;
    display: flex;
}
.video {
    display: contents;
}

.logo {
   width: 200px;
   height:150px;
}

h2 {
    align-content: center;
    margin: 5px;
    font-size: 40px;
}
h4 {
    align-content: center;
    margin: 10px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-decoration: none;
}

#hit {
    display: flex;
    flex-direction: column-reverse;
    margin: 10px;
}


.howMuchPicture {
    margin: 15px;
    border-radius: 60px;
    width: 110px;
    background-color: whitesmoke;
}

#month button {
    margin: 40px;
    width: 300px;
    height: 300px;
    border-radius: 45px;
    font-size: 50px;
    background-color: #F4CA8E;
    padding: 10px 10px;
}

footer li {
    color: whitesmoke;
    padding: 1px;
    text-decoration: none;
   
}
#backgroundFooter ul li a:hover {
    color: black;
    text-decoration: underline;
}
.monthPic {
    border-radius: 10px;
    margin: 0px 20px;
    width: 300px;
    height: 200px;
}

.followUs {
    padding: 10px;
    margin: 5px;
}

.hit {
    padding: 10px;
    margin: 5px;
}


.map { /* מתייחס לכל קטגוריה של דיב בנפרד*/
    display: inline-block; /* הדיבים יהיו באותה השורה*/
    margin: 31px;
    padding-inline-start: 0
}

    .map ul {
        list-style-type: none; /* ללא עיצוב של הנקודות של הרשימה*/
        padding-inline-start: 0;
    }

    .map a {
        text-decoration: none;
        color: #232323;
    }

.bold-header {
    font-weight: bold;
}

.pancakePic {
    width: 10%;
}

.map-container {
    flex-direction: row;
}


.backgroud-main .safetyicon {
    border-radius: 60px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    width: 370px;
    height: 102px;
    margin: 20px;
    position: absolute;
    top: 210px;
    right: 500px;
}

    .backgroud-main .safetyicon #safeICON {
        display: flex;
        justify-content: space-between;
        border-radius: 60px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
        width: 434px;
        height: 98px;
        margin: 20px;
        position: absolute;
        top: 953px;
        right: 562px;
    }

h2.safetyicon {
    display: flex;
    justify-content: left;
}

div.backgroud-main .top-nav.safetyicon {
    border-radius: 60px;
    width: 528px;
    height: 114px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    float: left;
    flex-wrap: wrap;
    justify-content: space-between;
}


.backgroud-main .top-nav.pancakePic #pancakepic {
    display: flex;
    flex-direction: column;
    align-items: center;
    float: left;
    left: 100px;
    top: 600px;
    width: 538px;
    height: 527px;
    margin: 60px;
    position: absolute;
    border-radius: 60px;
}

.backgroud-main .pancakePic #pancakepic {
    display: flex;
    flex-direction: column;
    align-items: center;
    float: left;
    left: 100px;
    width: 469px;
    height: 527px;
    margin: 60px;
    position: absolute;
    top: 600px;
    border-radius: 60px;
}


.ingrdende {
    text-align: right;
    width: 100%;
}

    .ingrdende.ciricel {
        list-style-type: circle;
    }

.howtodo {
    font: italic;
}

.number {
    list-style-type: decimal;
}


.gallery{ 
    position: relative;
    width: 500px;
}

.myCurSlides {
    /*display: none;*/

}

.cursor {
    cursor: pointer;
    
}

.pre {
    left: 500px;
}
.next {
    right: 498px;
    border-radius: 3px 0 0 3px;
}

.pre, .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: 10px;
    padding: 16px;
    margin-top: -50px;
    color:darkslateblue;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;

}



    .pre:hover,
    .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }

.numImgText {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
    width: 93.5%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 16.66%;

}

.demo {
    opacity: 0.4;
  }

    .active,
    .demo:hover {
        opacity: 1;
    }


.myCurSlides img,
.demo {
    width:100%;
}

#bigPicture {

    width:100%;
}
